# Base de donnees
DATABASE_URL=postgresql://pfe_user:12345@localhost:5432/pfe_db

# Auth
JWT_SECRET_KEY=change-me

# Atlas
ATLAS_REST_ADDRESS=http://127.0.0.1:21002
ATLAS_USERNAME=admin
ATLAS_PASSWORD=admin
ATLAS_APPLICATION_LOG=/path/to/pip/data_governance/apache-atlas-2.4.0/logs/application.log

# Grafana
GRAFANA_URL=http://localhost:3000
GRAFANA_SERVICE_TOKEN=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
GRAFANA_ORG_ID=1
GRAFANA_DASHBOARD_TEMPLATES_DIR=grafana/dashboard_templates
GRAFANA_PROVISIONING_ENABLED=true

